.log-green {
    color: rgb(181, 235, 96)
}

.log-cyan {
    color: rgb(90, 206, 226)
}

.log-red {
    color: rgb(226, 90, 90)
}

.log-yellow {
    color: rgb(224, 226, 90)
}

.log-white {
    color: rgb(253, 253, 253)
}