$background-color: #191308;
$text-color-dark: #534d41;
$text-color: #e8f7ee;
$link-color: #db2b39;
$hover-color: $link-color;
$title-color: #db2b39;
$box-background-color: darken($background-color, 3%);
